<link rel="stylesheet" href="/static/style.css">
<%- include('components/header') %>

<% let player = data.players.find(v => v.id == id) %>
<% let allLevelsCompleted = Object.keys(levels).every(v => player.levels?.[v]) %>
<div class="content">
    <% if (player) { %>
        <span><%= player.name %> - joined <%= new Date(player.created || 0).toDateString() %></span>
        <span>their tower is <%= player.wogc.height.toFixed(1) %> meters tall, made with <%= player.wogc.ballCountAttached %> gooballs</span>
        <span>their highest tower ever is <%= (player.wogc.heightRecord || player.wogc.height).toFixed(1) %> meters tall</span>
        <br>
        <% if (allLevelsCompleted) { %>
            <!-- todo -->
        <% } else { %>
            <span>levels to complete:</span>
            <ul>
                <% for (let [id, level] of Object.entries(level)) { %>
                    <% if (!player.levels?.[id]) { %>
                        <li><a href="/level/<%= id %>"><%= level.name %></a></li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    <% } else { %>
        no player found
    <% } %>
</div>
